body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
 pre, form, fieldset, legend, button, input, textarea, th, td ,tr,div{ 
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
html,#app{
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin: 0 auto;
}

body{
	font-family: PingFang SC Medium;
	background: #fff; 
	color: #333;
	width: 100%;
	height: 100%;
	-webkit-user-select:none;  /*系统默认菜单被禁用*/   
	user-select:none;  /*用户是否能够选中文本*/ 
}
img{
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	background: none;
}
/* a{
    text-decoration: none;
} */
/* 去掉a标签点击时的背景色 */
/* a:hover{
    -webkit-tap-highlight-color: transparent;
} */
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
ul{
    list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after {
 	content: ''; 
 	display: block; 
 	height: 0; 
 	clear: both; 
 }
input,button{
	border: none;
	outline: none;
}
button{
	background: none;
}
textarea{
	border: none;
	outline: none;
}
* { touch-action: pan-y; } 

// tab标签页 折叠面板
.stat{
	.van-tabs{
		.van-tabs__wrap{
			height: 1.2rem;
			padding: 0 .8rem;
		}
		.van-tab{
			font-size: .36rem;
			color: #999;
			&.van-tab--active{
				color: #6e51b0;
				font-size: .4rem;
			}
			span{
				height: 100%;
				line-height: 1.2rem;
			}
		}
		.van-tabs__line{
			display: none;
		}
	}
	.van-cell{
		font-size: .32rem;
		color: #333;
	}
	.van-collapse-item{
		.van-cell__value{
			font-size: .42rem!important;
		}
		&:first-child{
			.van-cell__value{
				color: #ff0303;
			}
			.van-icon-gold-coin:before{
				color: #f33916;
			}
		}
		&:nth-child(3){
			.van-cell__value{
				color: #fd9f0b;
			}
			.van-icon-gold-coin:before{
				color: #fd9f0b;
			}
		}
		&:last-child{
			.van-cell__value{
				color: #39bdfb;
			}
			.van-icon-gold-coin:before{
				color: #39bdfb;
			}
		}
	}
}
// 复选框
.subsidy{
	.van-cell{
		font-size: .32rem;
		color: #333;
		padding: 16px;
		&:not(:last-child)::after{
			border-bottom: none;
		}
		.van-checkbox__icon--checked .van-icon{
			background: #6e51b0;
			border-color: #6e51b0;
		}
	}
	.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
		border-width: 0;
	}
}